.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.modalContent {
  background-color: #1a1a1a;
  color: #f0f0f0;
  padding: 25px 35px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  width: 90%;
  max-width: 650px;
  max-height: 95vh;

  display: flex;
  flex-direction: column;
  text-align: center;

  overflow: hidden;
}

.date {
  font-size: 0.9em;
  opacity: 0.7;
  margin-bottom: 8px;
}

.dedicationText {
  margin: 10px 0;
  text-align: left;
  font-size: 1.1em;
  line-height: 1.6;
  white-space: pre-wrap;

  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
}

.modalImage {
  height: 35vh;
  aspect-ratio: 1 / 1;
  align-self: center;
  object-fit: cover;

  border-radius: 8px;
  margin-top: 10px;

  flex-shrink: 0;

}

.closeButton {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #00d2ff;
  color: #1a1a1a;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  align-self: center;
  flex-shrink: 0;
}

.closeButton:hover {
  background-color: #00a8cc;
}
