body {
  background-image: url('./assets/distant_galaxies_ever_seen_4k.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000;
  min-height: 100vh;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
#root {
  height: 100%;
  width: 100%;
}
